* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #023753;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://albion-player-info.vercel.app/static/media/lands-awakened.fd65a6a1240998255b76.jpeg);
  background-size: cover;
  min-height: 30vh;
  color: hsla(0, 0%, 100%, 0.89);
  text-align: center;
}

.navbar {
  background-color: #17628a;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  padding: 2em;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.header-text {
  text-shadow: 0 1px 0 rgb(0 0 0 / 20%), 0 0 10px #000, 0 0 50px #000;
}

.header-text h1 {
  font-size: 2.5vmax;
  margin: 1.5em;
}

main {
  max-width: 70%;
  margin: 0 auto;
}

.regears {
  margin: 0 auto;
  /* overflow-x: scroll; */
}

.regears h2 {
  text-align: center;
  color: white;
  margin: 0.5em;
  padding: 1em;
  border: 1px solid #c9f0ff;
  border-radius: 10px;
}

.regears-list {
  display: flex;
  justify-content: center;
  margin: 3em;
}

.regears-list table {
  border-collapse: collapse;
}

.regears-list table tr:nth-child(even) {
  /* background-color: #023753;
  color: white; */
  background-color: #17628a;
  color: white;
}

.regears-list td {
  padding: 1.25em;
}

.table-headers {
  color: white;
  font-size: 1.325rem;
}

.player-death {
  background-color: #c9f0ff;
}
