.tidal-logo {
  width: 100%;
  min-height: 50vh;
  background-image: url(../assets/images/Tidal-Logo-Background.png);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tidal-logo h2 {
  text-align: center;
  color: #c9f0ff;
  padding: 1.5em;
  font-size: 2rem;
}

.regears h2 {
  text-align: center;
  padding: 1.5em;
  background-color: #c9f0ff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.regears-list {
  display: flex;
  justify-content: center;
  margin: 3em 0em;
}

.regears-list table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  overflow-x: scroll;
}

.regears-list table tr:nth-child(odd) {
  background-color: #023753;
  color: white;
}

.regears-list td {
  text-align: center;
  padding: 1em 1.5em;
}

.table-headers th {
  text-align: center;
  background-color: #c9f0ff;
  color: black;
  font-size: 1.25rem;
  padding: 1em;
}

.player-death {
  background-color: #c9f0ff;
}
